/********************** NAV *****************/

.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  z-index: 1;
  left: 100px;
  top: 60px;
  width: 400px;
}

.nav a {
  font-family: 'ambroise-std', serif;
  color: black;
  text-decoration: none;
}

/********************** PRESENTATION *****************/

.cover {
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 760px;
  top:115px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.titre{
  position: absolute;
  top: 145px;
  color: white;
  font-family:'ambroise-std', serif;
  font-size: 80px;
}
.contexte{
  position: absolute;
  top:245px;
  color: white;
  font-family:'ambroise-std', serif;
  font-size: 20px;
  font-style: italic;
}
.resume{
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-weight: 100;
  font-family:'baskerville', serif;
  font-size: 21px;
  text-align: justify;
  width: 70vw;
  padding: 45px;

  position: absolute;
  top: 380px;
}

.images_mobile {
  display: none;
}
@media (max-width: 768px) {
  .images_mobile {
    display: block;
  }
}
/********* IMAGES HEADER *********/
.abcterroirs {
  background-image: url(../IMAGES/abcterroirs.jpg);
}
.abcdpourtous {
  background-image: url(../IMAGES/abcdpourtous.jpg);
}
.toastap {
  background-image: url(../IMAGES/toastap.jpg);
}
.webdesignerslife {
  background-image: url(../IMAGES/webdesignerslife.jpg);
}
.paris2024 {
  background-image: url(../IMAGES/paris2024.jpg);
}

.filter{
  position: absolute;
  width: 100vw;
  height: 760px;
  background: rgba(0, 0, 0, 0.4);
}

/********************** BODY *****************/

body {
  height: 200vh;
}
h1 {
  color: black;
  font-family:'ambroise-std', serif;
  font-size: 2em;
}
.contenu{
  color: black;
  font-weight: 100;
  font-family:'baskerville', serif;
  font-size: 21px;
  text-align: justify;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 1000px;
}
strong {
  font-weight: 550;
  font-family:'baskerville', serif;
  font-size: 21px;
}
em {
  font-style: italic;
  font-family:'baskerville', serif;
  font-size: 21px;
}
p {
  width: 90vw;
}
/************** PARIS2024 **************/

.logoparis2024
{
  width: 20%;
}
.croquislogo {
  width: 80%;
}
.diagrammes {
  width: 80%;
}
.arborescence {
  width: 80%;
}
.personas {
  width: 60%;
}
.maquettes {
  width: 70%;
}

/********************** FOOTER *****************/

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:#1C1717;
  width: 100vw;
  height: 70px;
  bottom: 0;
  font-size: 25px;
  color: white;
  font-family: 'ambroise-std', cursive;
}
