body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  z-index: 1;
  left: 100px;
  top: 60px;
  width: 400px;
}

a {
  font-family: 'ambroise-std', serif;
  color: black;
  text-decoration: none;
}

img {
  position :relative;
  top: 200px;
  left: 100px;
  width: 600px;
  height: 600px;
}
h1 {
  font-family:'luxus-brut', cursive;
  color: black;
  font-weight: 100;
  font-size: 40px;
}
.text {
  width: 900px;
  height: 300px;
  text-align: justify;
  position: relative;
  top: -85px;
  left: 650px;
  font-family: 'baskerville', serif;
  font-weight: 100;
  font-size: 18px;
}
.titre {
  position: absolute;
  top: 430px;
  right: -200px;
  transform: rotate(270deg);
  transform-origin: left;
  font-size: 90px;
  color: #black;
  font-family: 'ambroise-std', serif;
}
.me {
  position: absolute;
  top: 111px;
  right: 37px;
  font-size: 100px;
  color: #D6CDCD;
  font-family: 'luxus-brut', serif;
}
